# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd
from collections import Counter

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    397924 non-null  int64
 1   InvoiceNo     397924 non-null  int64
 2   StockCode     397924 non-null  object
 3   year          397924 non-null  int64
 4   month         397924 non-null  int64
 5   day           397924 non-null  int64
 6   hour          397924 non-null  int64
 7   Description   397924 non-null  object
 8   Quantity      397924 non-null  int64
 9   InvoiceDate   397924 non-null  object
 10  UnitPrice     397924 non-null  float64
 11  CustomerID    397924 non-null  int64
 12  Country       397924 non-null  object
 13  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# Aggregate amount spent by customers

customers = orders.groupby("CustomerID", as_index=False).agg({"amount_spent":"sum","Country": 'max'})

In [5]:
customers.head()

   CustomerID  amount_spent         Country
0       12346      77183.60  United Kingdom
1       12347       4310.00         Iceland
2       12348       1797.24         Finland
3       12349       1757.55           Italy
4       12350        334.40          Norway

In [6]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4339 entries, 0 to 4338
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    4339 non-null   int64
 1   amount_spent  4339 non-null   float64
 2   Country       4339 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 135.6+ KB

In [7]:
rcustomers = customers.copy()
rcustomers.drop(rcustomers.index[3:])

   CustomerID  amount_spent         Country
0       12346      77183.60  United Kingdom
1       12347       4310.00         Iceland
2       12348       1797.24         Finland

In [25]:
#Select customers in the top 95 quantile range

VIP_customers = []
ninety_five_perc = np.percentile(customers["amount_spent"], 95)

for inex, cust in customers.iterrows():
    if cust.amount_spent >= ninety_five_perc:
        VIP_customers.append([cust.CustomerID,cust.Country])
    
len(VIP_customers)

217

In [26]:
VIP_customers

[[12346, 'United Kingdom'],
 [12357, 'Switzerland'],
 [12359, 'Cyprus'],
 [12409, 'Switzerland'],
 [12415, 'Australia'],
 [12428, 'Finland'],
 [12431, 'Belgium'],
 [12433, 'Norway'],
 [12435, 'Denmark'],
 [12451, 'Switzerland'],
 [12471, 'Germany'],
 [12472, 'Germany'],
 [12474, 'Germany'],
 [12476, 'Germany'],
 [12477, 'Germany'],
 [12536, 'France'],
 [12540, 'Spain'],
 [12557, 'Spain'],
 [12567, 'France'],
 [12583, 'France'],
 [12590, 'Germany'],
 [12621, 'Germany'],
 [12626, 'Germany'],
 [12637, 'France'],
 [12678, 'France'],
 [12681, 'France'],
 [12682, 'France'],
 [12683, 'France'],
 [12705, 'Germany'],
 [12709, 'Germany'],
 [12731, 'France'],
 [12744, 'Singapore'],
 [12748, 'United Kingdom'],
 [12753, 'Japan'],
 [12757, 'Portugal'],
 [12766, 'Portugal'],
 [12798, 'Japan'],
 [12830, 'United Kingdom'],
 [12901, 'United Kingdom'],
 [12921, 'United Kingdom'],
 [12931, 'United Kingdom'],
 [12939, 'United Kingdom'],
 [12971, 'United Kingdom'],
 [12980, 'United Kingdom'],
 [12989, 'United Kingdom'],
 [13001, 'United Kingdom'],
 [13018, 'United Kingdom'],
 [13027, 'United Kingdom'],
 [13078, 'United Kingdom'],
 [13081, 'United Kingdom'],
 [13089, 'United Kingdom'],
 [13090, 'United Kingdom'],
 [13093, 'United Kingdom'],
 [13097, 'United Kingdom'],
 [13098, 'United Kingdom'],
 [13102, 'United Kingdom'],
 [13113, 'United Kingdom'],
 [13199, 'United Kingdom'],
 [13209, 'United Kingdom'],
 [13225, 'United Kingdom'],
 [13263, 'United Kingdom'],
 [13316, 'United Kingdom'],
 [13319, 'United Kingdom'],
 [13324, 'United Kingdom'],
 [13340, 'United Kingdom'],
 [13408, 'United Kingdom'],
 [13418, 'United Kingdom'],
 [13458, 'United Kingdom'],
 [13488, 'United Kingdom'],
 [13534, 'United Kingdom'],
 [13576, 'United Kingdom'],
 [13629, 'United Kingdom'],
 [13668, 'United Kingdom'],
 [13694, 'United Kingdom'],
 [13709, 'United Kingdom'],
 [13767, 'United Kingdom'],
 [13777, 'United Kingdom'],
 [13798, 'United Kingdom'],
 [13854, 'United Kingdom'],
 [13871, 'United Kingdom'],
 [13881, 'United Kingdom'],
 [13969, 'United Kingdom'],
 [13985, 'United Kingdom'],
 [14031, 'United Kingdom'],
 [14051, 'United Kingdom'],
 [14056, 'United Kingdom'],
 [14057, 'United Kingdom'],
 [14060, 'United Kingdom'],
 [14062, 'United Kingdom'],
 [14088, 'United Kingdom'],
 [14096, 'United Kingdom'],
 [14101, 'United Kingdom'],
 [14156, 'EIRE'],
 [14194, 'United Kingdom'],
 [14258, 'United Kingdom'],
 [14298, 'United Kingdom'],
 [14367, 'United Kingdom'],
 [14415, 'United Kingdom'],
 [14505, 'United Kingdom'],
 [14527, 'United Kingdom'],
 [14606, 'United Kingdom'],
 [14607, 'United Kingdom'],
 [14646, 'Netherlands'],
 [14667, 'United Kingdom'],
 [14680, 'United Kingdom'],
 [14733, 'United Kingdom'],
 [14735, 'United Kingdom'],
 [14769, 'United Kingdom'],
 [14796, 'United Kingdom'],
 [14849, 'United Kingdom'],
 [14866, 'United Kingdom'],
 [14895, 'United Kingdom'],
 [14911, 'EIRE'],
 [14936, 'Channel Islands'],
 [14944, 'United Kingdom'],
 [14952, 'United Kingdom'],
 [14961, 'United Kingdom'],
 [15005, 'United Kingdom'],
 [15023, 'United Kingdom'],
 [15039, 'United Kingdom'],
 [15044, 'United Kingdom'],
 [15061, 'United Kingdom'],
 [15078, 'United Kingdom'],
 [15098, 'United Kingdom'],
 [15125, 'United Kingdom'],
 [15144, 'United Kingdom'],
 [15159, 'United Kingdom'],
 [15189, 'United Kingdom'],
 [15194, 'United Kingdom'],
 [15249, 'United Kingdom'],
 [15251, 'United Kingdom'],
 [15290, 'United Kingdom'],
 [15311, 'United Kingdom'],
 [15358, 'United Kingdom'],
 [15382, 'United Kingdom'],
 [15465, 'United Kingdom'],
 [15482, 'United Kingdom'],
 [15498, 'United Kingdom'],
 [15502, 'United Kingdom'],
 [15513, 'United Kingdom'],
 [15601, 'United Kingdom'],
 [15615, 'United Kingdom'],
 [15640, 'United Kingdom'],
 [15694, 'United Kingdom'],
 [15749, 'United Kingdom'],
 [15769, 'United Kingdom'],
 [15838, 'United Kingdom'],
 [15856, 'United Kingdom'],
 [15939, 'United Kingdom'],
 [16000, 'United Kingdom'],
 [16013, 'United Kingdom'],
 [16029, 'United Kingdom'],
 [16033, 'United Kingdom'],
 [16126, 'United Kingdom'],
 [16133, 'United Kingdom'],
 [16180, 'United Kingdom'],
 [16182, 'United Kingdom'],
 [16187, 'United Kingdom'],
 [16210, 'United Kingdom'],
 [16333, 'United Kingdom'],
 [16353, 'United Kingdom'],
 [16422, 'United Kingdom'],
 [16446, 'United Kingdom'],
 [16523, 'United Kingdom'],
 [16525, 'United Kingdom'],
 [16532, 'United Kingdom'],
 [16558, 'United Kingdom'],
 [16652, 'United Kingdom'],
 [16656, 'United Kingdom'],
 [16672, 'United Kingdom'],
 [16684, 'United Kingdom'],
 [16705, 'United Kingdom'],
 [16713, 'United Kingdom'],
 [16729, 'United Kingdom'],
 [16745, 'United Kingdom'],
 [16746, 'United Kingdom'],
 [16779, 'United Kingdom'],
 [16814, 'United Kingdom'],
 [16839, 'United Kingdom'],
 [16843, 'United Kingdom'],
 [16873, 'United Kingdom'],
 [16923, 'United Kingdom'],
 [17017, 'United Kingdom'],
 [17107, 'United Kingdom'],
 [17139, 'United Kingdom'],
 [17243, 'United Kingdom'],
 [17306, 'United Kingdom'],
 [17315, 'United Kingdom'],
 [17338, 'United Kingdom'],
 [17340, 'United Kingdom'],
 [17381, 'United Kingdom'],
 [17389, 'United Kingdom'],
 [17396, 'United Kingdom'],
 [17404, 'Sweden'],
 [17416, 'United Kingdom'],
 [17428, 'United Kingdom'],
 [17450, 'United Kingdom'],
 [17509, 'United Kingdom'],
 [17511, 'United Kingdom'],
 [17581, 'United Kingdom'],
 [17675, 'United Kingdom'],
 [17677, 'United Kingdom'],
 [17706, 'United Kingdom'],
 [17735, 'United Kingdom'],
 [17811, 'United Kingdom'],
 [17841, 'United Kingdom'],
 [17857, 'United Kingdom'],
 [17865, 'United Kingdom'],
 [17949, 'United Kingdom'],
 [18055, 'United Kingdom'],
 [18092, 'United Kingdom'],
 [18102, 'United Kingdom'],
 [18109, 'United Kingdom'],
 [18139, 'United Kingdom'],
 [18172, 'United Kingdom'],
 [18223, 'United Kingdom'],
 [18229, 'United Kingdom']]

In [32]:
Preferred_costumers = []
seventy_five_perc = np.percentile(customers["amount_spent"], 75)

for inex, cust in customers.iterrows():
    if (cust.amount_spent >= seventy_five_perc) and (cust.amount_spent < ninety_five_perc):
        Preferred_costumers.append(cust.CustomerID)

len(Preferred_costumers)

868

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [30]:
# Q2 Identify country with the most VIP.
VIP_countries = [VIP_customers[i][1] for i in range(len(VIP_customers))]

In [31]:
Counter(VIP_countries)

Counter({'United Kingdom': 177,
         'Switzerland': 3,
         'Cyprus': 1,
         'Australia': 1,
         'Finland': 1,
         'Belgium': 1,
         'Norway': 1,
         'Denmark': 1,
         'Germany': 10,
         'France': 9,
         'Spain': 2,
         'Singapore': 1,
         'Japan': 2,
         'Portugal': 2,
         'EIRE': 2,
         'Netherlands': 1,
         'Channel Islands': 1,
         'Sweden': 1})

In [36]:
#Q3 Identify which country has the most VIP and preferred costumers

VIP_preferred_costumers = []
seventy_five_perc = np.percentile(customers["amount_spent"], 75)

for inex, cust in customers.iterrows():
    if cust.amount_spent >= seventy_five_perc:
        VIP_preferred_costumers.append([cust.CustomerID, cust.Country])

VIP_preferred_countries = [VIP_preferred_costumers[i][1] for i in range(len(VIP_preferred_costumers))]
Counter(VIP_preferred_countries)

Counter({'United Kingdom': 932,
         'Iceland': 1,
         'Finland': 5,
         'Italy': 5,
         'Norway': 7,
         'Portugal': 7,
         'Switzerland': 9,
         'Cyprus': 2,
         'Austria': 1,
         'Belgium': 11,
         'Australia': 3,
         'Denmark': 3,
         'Spain': 9,
         'France': 29,
         'Germany': 39,
         'Sweden': 2,
         'Israel': 2,
         'Singapore': 1,
         'Japan': 4,
         'Lebanon': 1,
         'Poland': 1,
         'EIRE': 3,
         'Greece': 1,
         'Netherlands': 1,
         'Channel Islands': 4,
         'Canada': 1,
         'Malta': 1})