# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [23]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
noventaycinco = orders.groupby(['Country','CustomerID'])['amount_spent'].sum().quantile(.95)

setentaycinco = orders.groupby(['Country','CustomerID'])['amount_spent'].sum().quantile(.75)
noventaycinco
#setentaycinco

5774.277999999997

In [25]:
VIPS = orders.groupby(['Country','CustomerID'], as_index=False)['amount_spent'].sum()

In [29]:
VIP=VIPS[VIPS.amount_spent >= noventaycinco]

In [30]:
Preff= VIPS[(VIPS.amount_spent < noventaycinco) & (VIPS.amount_spent >= setentaycinco)]

In [32]:
Q2 = VIP.Country.value_counts()
Q2

United Kingdom     178
Germany             11
France               9
Switzerland          3
EIRE                 2
Spain                2
Portugal             2
Japan                2
Norway               1
Finland              1
Netherlands          1
Singapore            1
Sweden               1
Channel Islands      1
Cyprus               1
Australia            1
Denmark              1
Name: Country, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [33]:
# your code here
Q3 = Preff.Country.value_counts()
Q3

United Kingdom     756
Germany             28
France              20
Belgium             11
Norway               6
Switzerland          6
Spain                5
Italy                5
Portugal             5
Finland              4
Australia            3
Channel Islands      3
Israel               2
Japan                2
Denmark              2
Cyprus               2
Malta                1
Poland               1
Lebanon              1
Greece               1
EIRE                 1
Iceland              1
Canada               1
Sweden               1
Austria              1
Name: Country, dtype: int64

In [34]:
Q2+Q3

Australia            4.0
Austria              NaN
Belgium              NaN
Canada               NaN
Channel Islands      4.0
Cyprus               3.0
Denmark              3.0
EIRE                 3.0
Finland              5.0
France              29.0
Germany             39.0
Greece               NaN
Iceland              NaN
Israel               NaN
Italy                NaN
Japan                4.0
Lebanon              NaN
Malta                NaN
Netherlands          NaN
Norway               7.0
Poland               NaN
Portugal             7.0
Singapore            NaN
Spain                7.0
Sweden               2.0
Switzerland          9.0
United Kingdom     934.0
Name: Country, dtype: float64