# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [24]:
# import libraries
import pandas as pd
import numpy as np
import re

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [7]:
# import data set
df = pd.read_csv('Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Print first 10 rows of `pokemon`

In [8]:
# enter your code here
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [22]:
# enter your code here

df2 = [df.loc[:,"Type 1"].unique(), df.loc[:,"Type 2"].unique()]

df2

[array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
        'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
        'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object),
 array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
        'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
        'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)]

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [26]:
# enter your code here

df['Name'] = df['Name'].apply(lambda x: re.findall('Mega.*',x)[0] if 'Mega' in x else x)

# test transformed data

df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [28]:
# enter your code here
df['A/D Ratio'] = df.loc[:, "Attack"] / df.loc[:,"Defense"]
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

### Identify the pokemon with the highest `A/D Ratio`

In [29]:
# enter your code here
df.loc[:, ["Name",'A/D Ratio']].sort_values('A/D Ratio', ascending=False).head(1)

                   Name  A/D Ratio
429  DeoxysAttack Forme        9.0

### Identify the pokemon with the lowest A/D Ratio

In [30]:
# enter your code here
df.loc[:, ["Name",'A/D Ratio']].sort_values('A/D Ratio', ascending=True).head(1)

        Name  A/D Ratio
230  Shuckle   0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [43]:
# enter your code here
df['Combo Type'] = df['Type 1'] + " " + df['Type 2'].fillna("")
df['Combo Type']

0       Grass Poison
1       Grass Poison
2       Grass Poison
3       Grass Poison
4              Fire
           ...
795       Rock Fairy
796       Rock Fairy
797    Psychic Ghost
798     Psychic Dark
799       Fire Water
Name: Combo Type, Length: 800, dtype: object

In [44]:
df.head(50)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500,Water
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.830000,Water
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,0.858333,Water
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,0.857143,Bug
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,0.363636,Bug
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,0.900000,Bug Flying
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,1.166667,Bug Poison
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,0.500000,Bug Poison
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,2.250000,Bug Poison
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750000,Bug Poison
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,1.125000,Normal Flying
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False,1.090909,Normal Flying
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,1.066667,Normal Flying
23,18,Mega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,1.000000,Normal Flying
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,1.600000,Normal
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False,1.350000,Normal
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,2.000000,Normal Flying
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False,1.384615,Normal Flying
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,1.363636,Poison
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False,1.231884,Poison
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False,1.375000,Electric
31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False,1.636364,Electric
32,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False,0.882353,Ground
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False,0.909091,Ground
34,29,Nidoran,Poison,NaN,275,55,47,52,40,40,41,1,False,0.903846,Poison
35,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False,0.925373,Poison
36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False,1.057471,Poison Ground
37,32,Nidoran,Poison,NaN,273,46,57,40,40,40,50,1,False,1.425000,Poison
38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False,1.263158,Poison
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False,1.324675,Poison Ground
40,35,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False,0.937500,Fairy
41,36,Clefable,Fairy,NaN,483,95,70,73,95,90,60,1,False,0.958904,Fairy
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False,1.025000,Fire
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False,1.013333,Fire
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False,2.250000,Normal Fairy
45,40,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False,1.555556,Normal Fairy
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False,1.285714,Poison Flying
47,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False,1.142857,Poison Flying
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,0.909091,Grass Poison
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False,0.928571,Grass Poison

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [45]:
# enter your code here
df.loc[:, ["Name",'A/D Ratio']].sort_values('A/D Ratio', ascending=False).head(5)

                   Name  A/D Ratio
429  DeoxysAttack Forme      9.000
347            Carvanha      4.500
19        Mega Beedrill      3.750
453            Cranidos      3.125
348            Sharpedo      3.000

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [49]:
# enter your code here
Combo_Type = df.loc[:, ["Name",'A/D Ratio',"Combo Type"]].sort_values('A/D Ratio', ascending=False).head(5)
Combo_Type

                   Name  A/D Ratio  Combo Type
429  DeoxysAttack Forme      9.000    Psychic
347            Carvanha      4.500  Water Dark
19        Mega Beedrill      3.750  Bug Poison
453            Cranidos      3.125       Rock
348            Sharpedo      3.000  Water Dark

In [72]:
Combo_Type_List = Combo_Type["Combo Type"].unique()

['Water Dark', 'Psychic ', 'Bug Poison', 'Rock ']

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [75]:
# enter your code here
df[df["Combo Type"].apply(lambda x: x in Combo_Type_List)].groupby("Combo Type").mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
Water Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949