# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy

import pandas

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
# enter your code here
orders = pandas.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

In [12]:
#How to aggregate the amount_spent for unique customers?
unique_amount = pandas.DataFrame(orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False))
unique_amount

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
...                  ...
17956              12.75
16454               6.90
14792               6.20
16738               3.75
13256               0.00

[4339 rows x 1 columns]

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

In [18]:
quantile_75 = unique_amount.quantile([.75])
quantile_75

      amount_spent
0.75       1661.64

In [17]:
quantile_95 = unique_amount.quantile([.95])
quantile_95

      amount_spent
0.95      5840.182

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [28]:
# your code here
prefered = orders[(orders.amount_spent>1661.64) & (orders.amount_spent<5840.182)]
prefered

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
10784,16425,537657,82484,2010,12,2,16,wood black board ant white finish,408,2010-12-07 16:42:00,4.78,18102,United Kingdom,1950.24
10786,16427,537657,22189,2010,12,2,16,cream heart card holder,972,2010-12-07 16:42:00,2.31,18102,United Kingdom,2245.32
10787,16428,537657,22188,2010,12,2,16,black heart card holder,972,2010-12-07 16:42:00,2.31,18102,United Kingdom,2245.32
10788,16429,537657,21623,2010,12,2,16,vintage union jack memoboard,408,2010-12-07 16:42:00,6.38,18102,United Kingdom,2603.04
10794,16435,537659,22189,2010,12,2,16,cream heart card holder,1008,2010-12-07 16:43:00,2.31,18102,United Kingdom,2328.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393237,533751,581110,23486,2011,12,3,12,antique heart shelf unit,150,2011-12-07 12:17:00,13.35,16000,United Kingdom,2002.50
393298,533812,581115,22413,2011,12,3,12,metal sign take it or leave it,1404,2011-12-07 12:20:00,2.75,15195,United Kingdom,3861.00
394417,534952,581175,23084,2011,12,3,15,rabbit night light,1440,2011-12-07 15:16:00,1.79,14646,Netherlands,2577.60
395597,537883,581375,21137,2011,12,4,12,black record cover frame,960,2011-12-08 12:36:00,3.39,16210,United Kingdom,3254.40
397110,540061,581457,23543,2011,12,4,18,wall art keep calm,698,2011-12-08 18:43:00,4.15,18102,United Kingdom,2896.70

In [27]:
viaipi = orders[orders.amount_spent>5840.182]
viaipi

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
32732,52711,540815,21108,2011,1,2,12,fairy cake flannel assorted colour,3114,2011-01-11 12:55:00,2.10,15749,United Kingdom,6539.40
37126,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom,77183.60
109624,160546,550461,21108,2011,4,1,13,fairy cake flannel assorted colour,3114,2011-04-18 13:20:00,2.10,15749,United Kingdom,6539.40
118352,173382,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75
155418,222680,556444,22502,2011,6,5,15,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.50,15098,United Kingdom,38970.00
248706,348325,567423,23243,2011,9,2,11,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.06,17450,United Kingdom,7144.72
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

In [35]:
viaipi.groupby(['Country']).size()

Country
United Kingdom    7
dtype: int64

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [42]:
# your code here
pandas.concat([prefered,viaipi]).groupby('Country').size()

Country
Australia           1
EIRE                4
France              2
Japan               3
Netherlands         2
Singapore           4
United Kingdom    116
dtype: int64