# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
# your code here
agg_exp = pd.DataFrame(orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False))
agg_exp.quantile(.95)

agg_exp.head()

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06

In [6]:
vip = agg_exp[agg_exp['amount_spent'] > 5840.181999999983]
vip

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
12415          124914.53
14156          117379.63
17511           91062.38
16029           81024.84
12346           77183.60
16684           66653.56
14096           65164.79
13694           65039.62
15311           60767.90
13089           58825.83
17949           58510.48
15769           56252.72
15061           54534.14
14298           51527.30
14088           50491.81
15749           44534.30
12931           42055.96
17841           40991.57
15098           39916.50
13798           37153.85
16013           37130.60
16422           34684.40
12748           33719.73
15838           33643.08
17404           31906.82
...                  ...
16814            6509.10
12431            6487.45
18223            6484.54
15694            6479.40
13225            6463.84
13102            6424.09
13871            6403.25
12359            6372.58
13668            6363.59
13709            6328.05
15005            6316.57
17315            6292.26
16126            6287.77
14057            6217.96
12357            6207.67
14060            6140.42
13418            6127.43
17509            6115.14
15939            6115.01
14735            6065.69
12637            6021.90
13097            6010.42
13316            5977.73
14101            5976.79
15382            5955.71
14505            5905.64
14415            5900.28
14944            5900.25
13209            5891.61
13534            5870.08

[217 rows x 1 columns]

In [7]:
agg_exp.describe()
preferred = agg_exp[(agg_exp['amount_spent'] < 5840.181999999983) & (agg_exp['amount_spent'] > 1661.64)]
preferred.head()

            amount_spent
CustomerID
13050            5836.86
12720            5781.73
15218            5756.89
17686            5739.46
13178            5725.47

In [9]:
vip_c = list(vip.index)
pref_c = list(preferred.index)

vip_lambda = lambda x: 'VIP' if x in vip_c else ('Pref' if x in pref_c else 'Common')
orders['customer_type'] = orders['CustomerID'].apply(vip_lambda)
orders['customer_type'].value_counts()

Pref      151781
Common    141659
VIP       104484
Name: customer_type, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [15]:
# your code here
orders.groupby('customer_type')['Country'].value_counts()

customer_type  Country
Common         United Kingdom          132710
               France                    2041
               Germany                   1693
               Spain                      916
               Belgium                    474
               Switzerland                472
               Portugal                   369
               Netherlands                283
               Italy                      251
               Unspecified                244
               Austria                    240
               Finland                    181
               Poland                     181
               USA                        179
               Sweden                     178
               Cyprus                     163
               Denmark                    163
               Channel Islands            159
               Australia                  157
               Greece                     113
               United Arab Emirates        68
               European Community          60
               RSA                         58
               Japan                       49
               Malta                       45
               Norway                      44
               Lithuania                   35
               Israel                      34
               Brazil                      32
               Czech Republic              25
                                        ...
Pref           Iceland                    182
               Denmark                    181
               EIRE                       161
               Austria                    158
               Poland                     149
               Canada                     135
               Australia                  130
               Sweden                      75
               Japan                       67
               Malta                       67
               Lebanon                     45
               Greece                      32
VIP            United Kingdom           84185
               EIRE                      7077
               France                    3290
               Germany                   3127
               Netherlands               2080
               Australia                  898
               Portugal                   681
               Switzerland                594
               Spain                      511
               Norway                     420
               Channel Islands            364
               Finland                    294
               Cyprus                     248
               Singapore                  222
               Japan                      205
               Sweden                     198
               Belgium                     54
               Denmark                     36
Name: Country, Length: 76, dtype: int64

In [17]:
top_countries = orders[orders['customer_type'] != 'Common']
top_countries['Country'].value_counts()

United Kingdom     221635
Germany              7349
EIRE                 7238
France               6301
Netherlands          2080
Spain                1569
Belgium              1557
Switzerland          1370
Portugal             1093
Norway               1028
Australia            1028
Channel Islands       589
Italy                 507
Finland               504
Cyprus                451
Sweden                273
Japan                 272
Singapore             222
Denmark               217
Israel                214
Iceland               182
Austria               158
Poland                149
Canada                135
Malta                  67
Lebanon                45
Greece                 32
Name: Country, dtype: int64