# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
import pandas as pd, numpy as np, os

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
os.listdir()

['challenge-1.ipynb',
 'challenge-3.ipynb',
 'pokemon.jpg',
 'aggregated-mean.png',
 'challenge-2.ipynb',
 'Pokemon.csv',
 'one-hot-encoding.png',
 '.ipynb_checkpoints']

In [3]:
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [4]:
pokemon[:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
arr = list(set(pokemon['Type 1'] + ' ' + pokemon['Type 2']))
for i,j in enumerate(arr): print(i,j, end ='; ')

0 nan; 1 Ground Steel; 2 Rock Steel; 3 Grass Psychic; 4 Ghost Flying; 5 Rock Bug; 6 Electric Ice; 7 Ghost Poison; 8 Water Ground; 9 Bug Water; 10 Electric Dragon; 11 Grass Flying; 12 Bug Fighting; 13 Ice Water; 14 Normal Fighting; 15 Ghost Fire; 16 Electric Fairy; 17 Psychic Fairy; 18 Water Electric; 19 Grass Dragon; 20 Electric Flying; 21 Fire Psychic; 22 Dark Fire; 23 Normal Grass; 24 Rock Ground; 25 Water Flying; 26 Steel Rock; 27 Fire Normal; 28 Ground Ghost; 29 Normal Flying; 30 Electric Fire; 31 Normal Fairy; 32 Psychic Fire; 33 Poison Water; 34 Ground Psychic; 35 Bug Ghost; 36 Dark Dragon; 37 Fire Water; 38 Fire Dragon; 39 Rock Dragon; 40 Dragon Psychic; 41 Dragon Flying; 42 Ice Ghost; 43 Grass Fairy; 44 Steel Flying; 45 Dark Flying; 46 Psychic Grass; 47 Dragon Ground; 48 Dragon Fire; 49 Dragon Fairy; 50 Dragon Electric; 51 Water Rock; 52 Psychic Flying; 53 Water Steel; 54 Grass Ground; 55 Electric Ghost; 56 Rock Fighting; 57 Steel Ground; 58 Steel Psychic; 59 Grass Poison; 60 Water Poison; 61 Rock Water; 62 Poison Dragon; 63 Dark Ice; 64 Electric Steel; 65 Ice Psychic; 66 Ground Flying; 67 Fire Rock; 68 Water Dark; 69 Normal Psychic; 70 Water Dragon; 71 Bug Steel; 72 Normal Water; 73 Rock Ice; 74 Ghost Grass; 75 Fire Ground; 76 Water Ghost; 77 Bug Ground; 78 Dark Fighting; 79 Bug Flying; 80 Fighting Steel; 81 Ghost Dragon; 82 Steel Fairy; 83 Electric Water; 84 Psychic Dark; 85 Fighting Psychic; 86 Water Ice; 87 Bug Rock; 88 Fire Fighting; 89 Ice Ground; 90 Ground Rock; 91 Dark Ghost; 92 Grass Fighting; 93 Ground Dark; 94 Psychic Ghost; 95 Rock Psychic; 96 Bug Fire; 97 Fairy Flying; 98 Psychic Fighting; 99 Grass Ice; 100 Ground Dragon; 101 Rock Dark; 102 Bug Poison; 103 Water Psychic; 104 Poison Fighting; 105 Poison Dark; 106 Dark Steel; 107 Rock Flying; 108 Steel Dragon; 109 Water Grass; 110 Fighting Dark; 111 Dragon Ice; 112 Fire Steel; 113 Electric Grass; 114 Rock Grass; 115 Bug Grass; 116 Fighting Flying; 117 Water Fairy; 118 Steel Ghost; 119 Ghost Dark; 120 Ground Fire; 121 Dark Psychic; 122 Bug Electric; 123 Flying Dragon; 124 Fire Flying; 125 Poison Bug; 126 Poison Flying; 127 Grass Steel; 128 Rock Fairy; 129 Ground Electric; 130 Ice Flying; 131 Normal Ground; 132 Steel Fighting; 133 Electric Normal; 134 Poison Ground; 135 Grass Dark; 136 Water Fighting;

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [6]:
import re

pokemon['Name'] = pokemon['Name'].apply(lambda x: re.sub('.*Mega','Mega',x))

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
pokemon['A/D Ratio'] = round(pokemon['Attack']/pokemon['Defense'],2)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21

### Identify the pokemon with the highest `A/D Ratio`

In [21]:
pokemon_highest_AD = pokemon.groupby('Name', as_index =  False).agg({'A/D Ratio':'max'}).sort_values('A/D Ratio')
pokemon_highest_AD

                        Name  A/D Ratio
629                  Shuckle       0.04
380                 Magikarp       0.18
65                   Bronzor       0.28
504                     Onix       0.28
130       DarmanitanZen Mode       0.29
40                 Bastiodon       0.31
711                   Togepi       0.31
76                   Carbink       0.33
5      AegislashShield Forme       0.33
497                 Nosepass       0.33
109               Cofagrigus       0.34
786                   Yamask       0.35
625                 Shieldon       0.36
461                  Metapod       0.36
662                   Spewpa       0.37
547                Probopass       0.38
502                  Omanyte       0.40
397                   Marill       0.40
394                  Mantyke       0.40
379                 Magcargo       0.42
676                  Steelix       0.42
447             Mega Slowbro       0.42
139      DeoxysDefense Forme       0.44
170                  Duskull       0.44
115                 Cottonee       0.45
624                  Shelmet       0.47
712                  Togetic       0.47
503                  Omastar       0.48
411              Mega Audino       0.48
783                   Wynaut       0.48
..                       ...        ...
73                    Cacnea       2.12
48                Bellsprout       2.14
438            Mega Mewtwo Y       2.14
630                  Shuppet       2.14
21                  Archeops       2.15
2                      Absol       2.17
204                  Flareon       2.17
412             Mega Banette       2.20
147                  Diglett       2.20
773                  Whismur       2.22
721                 Trapinch       2.22
44                  Beedrill       2.25
190                Excadrill       2.25
307               Jigglypuff       2.25
286                Hitmonlee       2.26
392                   Mankey       2.29
289                Honchkrow       2.40
20                    Archen       2.49
405               Mega Absol       2.50
129  DarmanitanStandard Mode       2.55
524                    Pichu       2.67
292       HoopaHoopa Unbound       2.67
564                Rampardos       2.75
617                 Sharpedo       3.00
140       DeoxysNormal Forme       3.00
4       AegislashBlade Forme       3.00
117                 Cranidos       3.12
413            Mega Beedrill       3.75
79                  Carvanha       4.50
138       DeoxysAttack Forme       9.00

[800 rows x 2 columns]

### Identify the pokemon with the lowest A/D Ratio

In [9]:
# enter your code here

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [10]:
# enter your code here

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [11]:
# enter your code here

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [12]:
# enter your code here

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [13]:
# enter your code here