# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [5]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [8]:
# enter your code here
orders = pd.read_csv("Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [9]:
# your code here

#Agrupando

s = orders[['CustomerID', 'amount_spent']].groupby('CustomerID').sum()
s.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [11]:
#Sacando los quartiles

s.quantile([.75,.95])['amount_spent'][0.75]

1661.6400000000003

In [13]:
vip = s[(s['amount_spent']>s.quantile([.75,.95])['amount_spent'][0.75])
                &(s['amount_spent']<s.quantile([.75,.95])['amount_spent'][0.95])]

vip.head()

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43

In [14]:
vip_1 = s[s['amount_spent']>s.quantile(.95)['amount_spent']]
vip_1.head()

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58
12409           11072.67
12415          124914.53

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [16]:
# your code here

c_country = orders[['CustomerID','Country']].groupby('CustomerID').first()
c_country = c_country.reset_index()
vip_1 = vip_1.reset_index()
vip_2 = c_country[c_country['CustomerID'].isin(vip_1['CustomerID'])]
vip_2['Country'].value_counts()

United Kingdom     177
Germany             10
France               9
Switzerland          3
EIRE                 2
Australia            2
Portugal             2
Japan                2
Spain                2
Finland              1
Netherlands          1
Sweden               1
Singapore            1
Channel Islands      1
Denmark              1
Norway               1
Cyprus               1
Name: Country, dtype: int64