# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [30]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv") #si supo mi organización de carpetas
orders.head(2)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
#Obtengamos la información de los cuantiles 95% y 75%
cliente_gasto = orders.groupby(['CustomerID'])['amount_spent'].sum()
cliente_gasto.sort_values(ascending = False)
cuantil95 = cliente_gasto.sort_values(ascending = False).quantile(0.95) #5840.18
cuantil75 = cliente_gasto.sort_values(ascending = False).quantile(0.75) #1661.64
vip_clients = cliente_gasto.get(cliente_gasto > 5840.18) #217 clientes
preferred_clients = cliente_gasto.get((cliente_gasto > 1661.64) & (cliente_gasto < 5840.18)) #868 clientes
#preferred_clients

In [97]:
#Creemos un nuevo dataframe con la información relevante
clientes_pais = orders.groupby(['CustomerID','Country'])['amount_spent'].sum() #es una serie
clientsDB = clientes_pais.to_frame() #Transforma serie en dataframe
clientsDB.reset_index(inplace=True) #me pone un índice que no sea el CustomerID

In [98]:
clientsDB.head(4) #ejemplo de nuestra nuevo DataFrame

   CustomerID         Country  amount_spent
0       12346  United Kingdom      77183.60
1       12347         Iceland       4310.00
2       12348         Finland       1797.24
3       12349           Italy       1757.55

In [101]:
#Añadamos dos columnas, una para VIP y otra para Preferred
clientsDB['VIP'] = np.where(clientsDB['amount_spent'] > 5840.18, 1,0)
clientsDB['Preferred'] = np.where((clientsDB['amount_spent'] >1661.64) & (clientsDB['amount_spent'] < 5840.18),1,0)

In [107]:
clientsDB.head(5)

   CustomerID         Country  amount_spent  VIP  Preferred
0       12346  United Kingdom      77183.60    1          0
1       12347         Iceland       4310.00    0          1
2       12348         Finland       1797.24    0          1
3       12349           Italy       1757.55    0          1
4       12350          Norway        334.40    0          0

In [ ]:
#Podemos observar en esta muestra clinetes de las 3 categorías, VIP, Preferred y ninguna de las anteriores
#Hasta aquí la solución de la pregunta 1

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [133]:
# your code here

#Agrupemos el nuevo dataframe por país de acuerdo a la cantidad de VIPs
s1 = clientsDB.groupby(['Country'])['VIP'].sum() #.sort_values(ascending =False)
#El país con más VIPs es UK

In [134]:
s2 = clientsDB.groupby(['Country'])['Preferred'].sum() #.sort_values(ascending =False)
#Como UK es quien tiene más clientes Preferred es el que tiene más de los dos tipos

In [135]:
result = pd.concat([s1, s2], axis=1, sort=True) #dataframe nuevo creado de 2 series
result['total_VIP_Pref'] = result['VIP'] + result['Preferred'] #Y añadimos una nueva columna

In [136]:
result.sort_values(by='total_VIP_Pref', ascending=False)
#Aquí se ve claramente que es UK el país buscado

                      VIP  Preferred  total_VIP_Pref
Country
United Kingdom        177        755             932
Germany                10         29              39
France                  9         20              29
Belgium                 0         11              11
Switzerland             3          6               9
Spain                   2          5               7
Portugal                2          5               7
Norway                  1          6               7
Italy                   0          5               5
Finland                 1          4               5
Japan                   2          2               4
Australia               1          3               4
Channel Islands         1          3               4
Cyprus                  1          2               3
Denmark                 1          2               3
EIRE                    2          1               3
Israel                  0          2               2
Sweden                  1          1               2
Malta                   0          1               1
Singapore               1          0               1
Poland                  0          1               1
Netherlands             1          0               1
Canada                  0          1               1
Lebanon                 0          1               1
Austria                 0          1               1
Iceland                 0          1               1
Greece                  0          1               1
Bahrain                 0          0               0
USA                     0          0               0
Brazil                  0          0               0
United Arab Emirates    0          0               0
European Community      0          0               0
Saudi Arabia            0          0               0
RSA                     0          0               0
Lithuania               0          0               0
Czech Republic          0          0               0
Unspecified             0          0               0