# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
#Subproblem1 How to aggregate the amount_spent for unique customers?
agg_exp = pd.DataFrame(orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False))
#print(len(agg_exp))
#agg_exp.head()
agg_exp

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
12415          124914.53
14156          117379.63
17511           91062.38
16029           81024.84
12346           77183.60
16684           66653.56
14096           65164.79
13694           65039.62
15311           60767.90
13089           58825.83
17949           58510.48
15769           56252.72
15061           54534.14
14298           51527.30
14088           50491.81
15749           44534.30
12931           42055.96
17841           40991.57
15098           39916.50
13798           37153.85
16013           37130.60
16422           34684.40
12748           33719.73
15838           33643.08
17404           31906.82
...                  ...
14589              39.75
12977              39.24
16659              39.12
18019              38.45
12855              38.10
16162              37.40
17816              36.56
15940              35.80
17831              35.40
16856              35.40
14576              35.40
15744              34.80
16765              34.00
17408              32.65
13120              30.60
15657              30.00
18268              25.50
17102              25.50
17986              20.80
16953              20.80
16093              17.00
13307              15.00
17763              15.00
15823              15.00
16878              13.30
17956              12.75
16454               6.90
14792               6.20
16738               3.75
13256               0.00

[4339 rows x 1 columns]

In [4]:
#Subproblem2 How to select customers whose aggregated amount_spent is in a given quantile range: percentil 80.
agg_exp_80 = agg_exp.quantile([.80])
agg_exp_80
#print(len(agg_exp_50a75))
print("Los clientes que gastaron 2057.914 o más están en el percentil 80")

VIP = agg_exp[agg_exp["amount_spent"] >= 2057.914]
VIP = pd.DataFrame(VIP)
VIP

Los clientes que gastaron 2057.914 o más están en el percentil 80

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
12415          124914.53
14156          117379.63
17511           91062.38
16029           81024.84
12346           77183.60
16684           66653.56
14096           65164.79
13694           65039.62
15311           60767.90
13089           58825.83
17949           58510.48
15769           56252.72
15061           54534.14
14298           51527.30
14088           50491.81
15749           44534.30
12931           42055.96
17841           40991.57
15098           39916.50
13798           37153.85
16013           37130.60
16422           34684.40
12748           33719.73
15838           33643.08
17404           31906.82
...                  ...
14691            2114.33
13265            2107.66
18173            2106.84
18093            2106.52
14461            2103.06
14515            2102.09
17861            2100.80
15815            2100.60
13126            2099.64
12610            2099.54
16875            2095.53
17191            2095.13
18283            2094.88
14306            2093.32
13571            2092.32
17490            2092.32
13297            2089.85
18044            2088.60
14810            2087.88
16954            2085.08
18231            2083.27
14696            2078.95
14209            2073.43
18241            2073.09
18219            2069.77
14482            2068.15
12948            2064.95
12928            2062.70
16281            2062.06
14409            2059.45

[868 rows x 1 columns]

In [5]:
#Preferred. Serán los que gastaron más de percentil 50%
agg_exp_50 = agg_exp.quantile([.50])
print(f"Los clientes preferidos son los que gastaron hasta 674.45")

Preferred = agg_exp[(agg_exp["amount_spent"] >= 674.45) & (agg_exp["amount_spent"] < 2057.914)]
Preferred = pd.DataFrame(Preferred)
Preferred

Los clientes preferidos son los que gastaron hasta 674.45

            amount_spent
CustomerID
12518            2056.89
17667            2055.51
14188            2054.36
16150            2053.02
17086            2050.08
17612            2048.45
14232            2048.07
17625            2047.00
13495            2044.87
17597            2044.37
17090            2043.95
13450            2043.72
14001            2043.08
12585            2040.10
13593            2037.08
18069            2036.67
17846            2033.10
13630            2031.78
16409            2028.88
17337            2027.87
16358            2027.50
14544            2024.45
15341            2020.52
14506            2012.17
15531            2007.44
15372            2007.40
16098            2005.63
14730            2005.06
14217            2004.98
14462            2004.02
...                  ...
12658             686.05
16122             684.42
16495             684.41
15669             684.34
12942             683.90
17874             683.46
14222             683.17
12838             683.13
15582             682.91
13548             682.41
18135             681.91
12478             680.99
13524             680.18
16872             680.02
15322             679.68
13430             679.45
14788             679.44
17994             678.49
13925             678.25
13607             678.01
13388             677.10
13040             676.99
16377             676.20
15626             675.80
17462             675.69
13325             675.30
16418             675.27
13355             674.70
13464             674.68
17749             674.52

[1301 rows x 1 columns]

In [71]:
#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?
#Respuesta: se incluirá una columna en el data frame original que califique a los clientes incluidos en el porcentil
#80 como VIP

VIP.columns #Me está tomando "CustomerID" como index, por lo que no lo solucion

#Tenemos que extraer los index
Index_VIP = list(VIP.index)
Index_Preferred = list(Preferred.index)

In [65]:
#Crear columna en order si el valor del indice de vip o preferred está en la lista

#INTENTO 1
#orders['Status']='Preferred' #creamos una columna que tendrá por default el valor "VIP"
#orders.loc[orders.CustomerID.isin('Index_VIP'), 'Status']='VIP'

#INTENTO 2
#Esto funciona, pero te cambia a VIP y el resto a preferido. 
orders["Tipo_cliente"] = np.where(orders["CustomerID"].isin(Index_VIP), "VIP", "NORMAL") 
orders["Tipo_cliente"] = np.where(orders["CustomerID"].isin(Index_Preferred), "PREFERIDO", orders["Tipo_cliente"])

In [66]:
orders["Tipo_cliente"].value_counts()

VIP          231251
PREFERIDO    107869
NORMAL        58804
Name: Tipo_cliente, dtype: int64

In [72]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Tipo_cliente
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,VIP
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,VIP
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP

In [69]:
#APUNTOS DE RAMIRO. IGNORAR :)

#Después queda modificar la variable "VIP_Preferido" a normal para los que gastaron menos de 674.45
#orders["Tipo_cliente"] = np.where(orders["CustomerID"].isin(Index_Preferred), "PREFERIDO", "NORMAL")

#for x in orders["Tipo_cliente"] == "PREFERIDO":
#    if x in Index_Preferred:
#        orders["Tipo_cliente"] == "PREFERIDO"
#    else:
#        orders["Tipo_cliente"] == "NORMAL"

#np.where(consumption_energy > 400, 'high', 
#         (np.where(consumption_energy < 200, 'low', 'medium')))

#orders["Tipo_cliente"] = np.where(orders["Tipo_cliente"]=="PREFERIDO", np.where(orders["CustomerID"].isin(Index_Preferred), "PREFERIDO", "NORMAL"))
#dists[(np.where((dists >= r) & (dists <= r + dr)))]

#orders["Tipo_cliente"] = np.where((orders["Tipo_cliente"]=="PREFERIDO") & (orders["CustomerID"].isin(Index_Preferred), "PREFERIDO", "NORMAL"))

#x['Continent'] = np.where(x['Country'].isin(europe), 'Europe', 'Not Europe')

#EJEMPLO
#cols = ['Name','Country','Income']
#europe = ['UK','France']
#x['New Column']='Not Europe'
#x.loc[x.Country.isin(europe),'New Column']='Europe'

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [67]:
#Q2: How to identify which country has the most VIP Customers?
print("UK tiene la mayor cantidad de clientes VIP")
orders.groupby(["Tipo_cliente", "Country"]).size().sort_values(ascending=False)

UK tiene la mayor cantidad de clientes VIP

Tipo_cliente  Country
VIP           United Kingdom          198270
PREFERIDO     United Kingdom          100775
NORMAL        United Kingdom           55300
VIP           EIRE                      7238
              Germany                   6806
              France                    6112
              Netherlands               2080
              Spain                     1569
PREFERIDO     Germany                   1469
VIP           Switzerland               1307
PREFERIDO     France                    1301
VIP           Belgium                   1256
              Portugal                  1024
              Australia                  998
              Norway                     941
NORMAL        France                     929
              Germany                    767
PREFERIDO     Belgium                    665
              Spain                      659
VIP           Channel Islands            492
              Cyprus                     451
PREFERIDO     Switzerland                444
VIP           Italy                      434
              Finland                    419
              Sweden                     273
              Japan                      272
NORMAL        Spain                      257
PREFERIDO     Channel Islands            239
NORMAL        Portugal                   233
VIP           Singapore                  222
                                       ...
NORMAL        Italy                      108
              Sweden                      92
PREFERIDO     Greece                      91
NORMAL        Switzerland                 91
PREFERIDO     Norway                      87
              Sweden                      86
NORMAL        Netherlands                 72
PREFERIDO     United Arab Emirates        68
              European Community          60
              RSA                         58
              Unspecified                 56
NORMAL        Poland                      46
PREFERIDO     Lebanon                     45
NORMAL        Norway                      44
              Denmark                     44
              Japan                       37
              Austria                     36
PREFERIDO     Lithuania                   35
NORMAL        Israel                      34
              USA                         33
VIP           Greece                      32
PREFERIDO     Brazil                      32
              Czech Republic              25
NORMAL        Australia                   22
              Greece                      22
              Channel Islands             17
              Bahrain                     17
              Canada                      16
PREFERIDO     Japan                       12
NORMAL        Saudi Arabia                 9
Length: 80, dtype: int64

In [73]:
#Q3: How to identify which country has the most VIP+Preferred Customers combined?

print("El paíse que tiene mayor cantidad de clientes VIP y PREFERIDOS es UK")
Paises_VIP_PREF = orders[orders["Tipo_cliente"] != "NORMAL"]
Paises_VIP_PREF["Country"].value_counts()

El paíse que tiene mayor cantidad de clientes VIP y PREFERIDOS es UK

United Kingdom          299045
Germany                   8275
France                    7413
EIRE                      7238
Netherlands               2291
Spain                     2228
Belgium                   1921
Switzerland               1751
Portugal                  1229
Australia                 1163
Norway                    1028
Channel Islands            731
Italy                      650
Finland                    568
Cyprus                     451
Austria                    362
Sweden                     359
Denmark                    336
Japan                      284
Poland                     284
Singapore                  222
Israel                     214
Iceland                    182
USA                        146
Canada                     135
Greece                     123
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Unspecified                 56
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Name: Country, dtype: int64