# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# Import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# Enter your code here
orders_df = pd.read_csv("/Users/diegoperezo97/Documents/IronHack – Data Analytics Bootcamp/Module 2/Week 4/Day 1/lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders_df.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
orders_sub_df = orders_df[['CustomerID', 'amount_spent']].groupby(by='CustomerID', as_index=False).sum()
orders_sub_df

      CustomerID  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

In [4]:
customer_id = orders_sub_df['CustomerID'].values.tolist()
amount_spent = orders_sub_df['amount_spent'].values.tolist()

Q1 = np.percentile(amount_spent, 25, interpolation = 'midpoint')
Q3 = np.percentile(amount_spent, 75, interpolation = 'midpoint')
IQR = Q3 - Q1
maximum = Q3 + 1.5*IQR

vip_customers = []
preferred_customers = []

for cust_id, amount in zip(customer_id, amount_spent):
    if amount >= Q3 and amount < maximum:
        preferred_customers.append(cust_id)
    elif amount > maximum:
        vip_customers.append(cust_id)

In [5]:
preferred_customers = pd.DataFrame(preferred_customers, columns=['CustomerID'])
preferred_customers = preferred_customers.merge(right=orders_df, how='inner', left_on='CustomerID', right_on='CustomerID')
preferred_customers

,CustomerID,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,Country,amount_spent
0,12348,34083,539318,84992,2010,12,4,19,72 sweetheart fairy cake cases,72,2010-12-16 19:09:00,0.55,Finland,39.60
1,12348,34084,539318,22951,2010,12,4,19,60 cake cases dolly girl design,72,2010-12-16 19:09:00,0.55,Finland,39.60
2,12348,34085,539318,84991,2010,12,4,19,60 teatime fairy cake cases,24,2010-12-16 19:09:00,0.55,Finland,13.20
3,12348,34086,539318,84991,2010,12,4,19,60 teatime fairy cake cases,120,2010-12-16 19:09:00,0.42,Finland,50.40
4,12348,34087,539318,21213,2010,12,4,19,pack of 72 skull cake cases,24,2010-12-16 19:09:00,0.55,Finland,13.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98946,18287,392752,570715,22419,2011,10,3,10,lipstick pen red,12,2011-10-12 10:23:00,0.42,United Kingdom,5.04
98947,18287,392753,570715,22866,2011,10,3,10,hand warmer scotty dog design,12,2011-10-12 10:23:00,2.10,United Kingdom,25.20
98948,18287,423939,573167,23264,2011,10,5,9,set of 3 wooden sleigh decorations,36,2011-10-28 09:29:00,1.25,United Kingdom,45.00
98949,18287,423940,573167,21824,2011,10,5,9,painted metal star with holly bells,48,2011-10-28 09:29:00,0.39,United Kingdom,18.72
98950,18287,423941,573167,21014,2011,10,5,9,swiss chalet tree decoration,24,2011-10-28 09:29:00,0.29,United Kingdom,6.96

In [6]:
vip_customers = pd.DataFrame(vip_customers, columns=['CustomerID'])
vip_customers = vip_customers.merge(right=orders_df, how='inner', left_on='CustomerID', right_on='CustomerID')
vip_customers

,CustomerID,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,Country,amount_spent
0,12346,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,United Kingdom,77183.60
1,12347,14938,537626,85116,2010,12,2,14,black candelabra t-light holder,12,2010-12-07 14:57:00,2.10,Iceland,25.20
2,12347,14939,537626,22375,2010,12,2,14,airline bag vintage jet set brown,4,2010-12-07 14:57:00,4.25,Iceland,17.00
3,12347,14940,537626,71477,2010,12,2,14,colour glass. star t-light holder,12,2010-12-07 14:57:00,3.25,Iceland,39.00
4,12347,14941,537626,22492,2010,12,2,14,mini paint set vintage,36,2010-12-07 14:57:00,0.65,Iceland,23.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157309,18251,339460,566595,22096,2011,9,2,15,pink paisley square tissue box,432,2011-09-13 15:03:00,0.39,United Kingdom,168.48
157310,18251,339461,566595,22909,2011,9,2,15,set of 20 vintage christmas napkins,576,2011-09-13 15:03:00,0.72,United Kingdom,414.72
157311,18251,339462,566595,22950,2011,9,2,15,36 doilies vintage christmas,288,2011-09-13 15:03:00,1.25,United Kingdom,360.00
157312,18251,339463,566595,22952,2011,9,2,15,60 cake cases vintage christmas,720,2011-09-13 15:03:00,0.42,United Kingdom,302.40
157313,18251,339464,566595,22138,2011,9,2,15,baking set 9 piece retrospot,72,2011-09-13 15:03:00,4.25,United Kingdom,306.00

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

Provide your solution for Q2 below:

In [7]:
# Your code here

countries_q2 = vip_customers[['Country', 'CustomerID']].groupby(by='Country', as_index=False).count().sort_values(by='CustomerID', ascending=False).head(1)
countries_q2

           Country  CustomerID
21  United Kingdom      130199

In [8]:
vip_and_preferred_customers = pd.concat([vip_customers, preferred_customers])
countries_q3 = vip_and_preferred_customers[['Country', 'CustomerID']].groupby(by='Country', as_index=False).count().sort_values(by='CustomerID', ascending=False).head(1)
countries_q3

           Country  CustomerID
26  United Kingdom      221635